* Get total number of votes cast
* Get list of candidates who received votes
* Get percentage of votes each candidate won
* Get total number of votes each candidate won
* Get winner of the election based on popular vote

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("../pypoll/Resources/election_data.csv")

In [12]:
unique = df["Voter ID"].unique()
total_votes=len(unique)

In [16]:
candidates = list(df["Candidate"].unique())

In [19]:
df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [40]:
for name in candidates: 
   votes = df.loc[df["Candidate"] == name]
   count = len(votes)
   percent = round(((count/total_votes)*100),2)
   print(f"Candidate: {name}, Percent: {percent}")

Candidate: Khan, Percent: 63.0
Candidate: Correy, Percent: 20.0
Candidate: Li, Percent: 14.0
Candidate: O'Tooley, Percent: 3.0

0          1
1          1
2          1
3          1
4          1
          ..
3520996    1
3520997    1
3520998    1
3520999    1
3521000    1
Name: Candidate, Length: 3521001, dtype: int64